{% extends "layout/base.html" %}{% block content %}

<!-- ChatBox Section -->
<div class="container">
    <div class="container text-center">
        <h1>Select Theme</h1>
        <select class="my-select"></select>
        <button class="apply-button">Apply</button>
    </div>
    <section name="Chatbox">
        <div class="wrapper">
            <div class="chat-box">
                <div class="chat-head">
                    <h2>Chat</h2>
                    <img id="toggle" src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
                </div>
                <div class="chat-body">
                    <div class="chat-text">
                        <textarea id="inputtxt" placeholder="Press Enter"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}