{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <footer id="sticky-footer" class="py-4 bg-light text-black-50 bottom text-center">

    </footer>

</body>

</html>