{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Login</title>
    <style type="text/css">
        .whitespace {
            height: 30vh;
        }
        
        .container {
            opacity: 0;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><b>Azmi</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'result_table' %}">Guest Book History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatbox' %}">Chatbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <div class="whitespace"></div>
    <div class="container">
        <div class="col-lg-12 text-center">
            {% if user.is_authenticated %}
            <h1>You Are Already Logged In</h1>
            <div class="whitespace"></div>
            <a href="{% url 'index' %}" class="btn btn-primary">Back to home page</a> {% else %}
            <div class="login-form">
                <h1>Login
                </h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <button type="submit" class="btn-primary">Login</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js "></script>

    <script>
        TweenMax.to('.container', 1.3, {
            opacity: 1,
            ease: Circ.easeOut
        });
    </script>
</body>
</body>

</html>