<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Experience</title>
    <style type="text/css">
        .container {
            opacity: 0;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><b>Azmi</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'result_table' %}">Chat History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatbox' %}">Chatbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <div class="row vertical-center">
            <div class="col-lg-5 text-center">
                <h1><b>Experience</b></h1>
                <img src="{% static 'img/aristi.png' %}" ">

                <h3><b>PT. Aristi Jasadata</b></h3>
                <h4>July 2018 - September 2018</h4>
                <p>Android Front-End Developer Intern, developing mobile banking app</p>

            </div>

            <div class="col-lg-2 text-center ">
                    <h2>|</h2>
            </div>
            

            <div class=" col-lg-5 text-center ">
                <h1><b>Skills</b></h1>

                <div>
                    <h3><b>Web Develoment</b></h3>
                    <p>HTML, CSS, Laravel</p>
                </div>
                <div>
                    <h3><b>Mobile App Develoment</b></h3>
                    <p>Java</p>
                </div>

                <div>
                    <h3><b>Desktop App Develoment</b></h3>
                    <p>C#</p>
                </div>

                <div>
                    <h3><b>UI/UX Design</b></h3>
                    <p>Adobe XD, Axure RP</p>
                </div>
            </div>
        </div>
    </div>

    <footer id="fixed-bottom " class="py-4 bg-light text-black-50 fixed-bottom ">
        <div class="container text-center ">
            <small>Muhammad Azmi - BELING.ID</small>
        </div>
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js "></script>

    <script>
        TweenMax.to('.container', 1.3, {
            opacity: 1,
            ease: Circ.easeOut
        });
      
    </script>
</body>

</html>