{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Profile</title>
    <style type="text/css">
        .whitespace {
            height: 70px;
        }
        
        .container {
            opacity: 0;
        }
        
        img {
            opacity: 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><b>Azmi</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'result_table' %}">Guest Book History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatbox' %}">Chatbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <div class="whitespace"></div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 style="font-size: 10em">Hello!</h1>
                <h2>I'm Muhammad Azmi</h2>
                <h2>Bachelor of Computer Science from Universitas Brawijaya</h2>
                <h2>21 y.o.</h2>
                <h2>__________</h2>
                <h4>Feel free to reach me on my social media</h4>
                <h4>or</h4>
                <h4>through azmi.filkom@gmail.com</h4>
                <div class="whitespace"></div>
                <a href="https://www.instagram.com/azmi6298/" target="_blank"><img id="ig" src="{% static 'img/ig.png'%}" style="max-width:90px"></a>
                <a href="https://www.linkedin.com/in/azmi6298/" target="_blank"><img id="lk" src="{% static 'img/linkedin.png'%}" style="max-width:90px"></a>
                <a href="https://soundcloud.com/soundsofacro" target="_blank"><img id="sc" src="{% static 'img/sc.png'%}" style="max-width:90px"></a>
            </div>

        </div>
    </div>

    <footer id="sticky-footer" class="py-4 bg-light text-black-50 fixed-bottom">
        <div class="container text-center">
            <small>Muhammad Azmi - BELING.ID</small>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script>
        TweenMax.to('.container', 1.7, {
            opacity: 1,
            ease: Circ.easeOut
        });
        TweenMax.to('#ig', 1.5, {
            opacity: 1,
            delay: 0.3,
            ease: Circ.easeOut
        });
        TweenMax.to('#lk', 1.5, {
            opacity: 1,
            delay: 0.7,
            ease: Circ.easeOut
        });
        TweenMax.to('#sc', 1.5, {
            opacity: 1,
            delay: 1.1,
            ease: Circ.easeOut
        });
    </script>
</body>

</html>