{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Portfolio</title>
    <style type="text/css">
        .container {
            opacity: 0;
        }
    </style>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><b>Azmi</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'result_table' %}">Guest Book History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatbox' %}">Chatbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>


    <div class="container text-center">

        <h1 class="mt-5">Some of My Portfolio</h1>
        <h2>__________</h2>
        <div class="col-lg-12">
            <img src="{% static 'img/spotify.png' %}" width="800px" class="mt-5">
            <h4 class="mt-4">Spotify Redefined</h4>

            <img src="{% static 'img/tix.png' %}" width="800px" class="mt-5">
            <h4 class="mt-4">TIX ID Redesigned</h4>
        </div>
    </div>

    <footer id="sticky-footer" class="py-4 bg-light text-black-50 ">
        <div class="container text-center">
            <small>Muhammad Azmi - BELING.ID</small>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js "></script>

    <script>
        TweenMax.to('.container', 1.3, {
            opacity: 1,
            ease: Circ.easeOut
        });
    </script>
</body>
</body>

</html>