{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}</title>
    <style type="text/css">
        .whitespace {
            height: 70px;
        }
        
        .whitespace2 {
            height: 120px;
        }
        
        h1,
        h3 {
            color: aliceblue
        }
        
        img {
            opacity: 0;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><b>Azmi</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'result_table' %}">Guest Book History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>

            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatbox' %}">Chatbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>

            {% endif %}
        </div>
    </nav>

    <div class="jumbotron text-center" style="background-color:gray">
        <img id="prof" src="{% static 'img/azmi.png' %}" class="rounded-circle" width="200px">
        <h1>{{ name }}</h1>
        <h3>UI/UX Designer x Junior Developer x Music Producer</h3>

    </div>

    <div class="whitespace"></div>

    <div class="container text-center">
        <p style="font-size:2em">Junior Android & Web Developer, UI/UX Enthusiast & Designer, and Music Producer on My Spare Time</p>
        <div class="whitespace"></div>

        <a href="https://www.instagram.com/azmi6298/" target="_blank"><img id="ig" src="{% static 'img/ig.png'%}" style="max-width:90px"></a>
        <a href="https://www.linkedin.com/in/azmi6298/" target="_blank"><img id="lk" src="{% static 'img/linkedin.png'%}" style="max-width:90px"></a>
        <a href="https://soundcloud.com/soundsofacro" target="_blank"><img id="sc" src="{% static 'img/sc.png'%}" style="max-width:90px"></a>
    </div>

    <div class="whitespace"></div>
    <div class="container col-md-4 col-sm-4 col-12 text-center">
        <section name="form">
            <h2>Send Message</h2>
            <form id="form" method="POST" action="{% url 'add_message' %}>">{% csrf_token %} {{ message_form }} <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </div>

    <div class="whitespace"></div>
    <footer id="sticky-footer" class="py-4 bg-light text-black-50 ">
        <div class="container text-center">
            <small>Muhammad Azmi - BELING.ID</small>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script>
        TweenMax.to('#prof', 1.5, {
            opacity: 1,
            ease: Circ.easeOut
        });
        TweenMax.to('#ig', 1.5, {
            opacity: 1,
            delay: 0.3,
            ease: Circ.easeOut
        });
        TweenMax.to('#lk', 1.5, {
            opacity: 1,
            delay: 0.7,
            ease: Circ.easeOut
        });
        TweenMax.to('#sc', 1.5, {
            opacity: 1,
            delay: 1.1,
            ease: Circ.easeOut
        });
    </script>
</body>

</html>