{% extends "layout/base.html" %} {% block title %} Kumpulan Pesan {% endblock %} {% block content %}
<!-- Populate semua isi pesan dari model -->

{% if user.is_authenticated %}
<table class="table">
    <thead>
        <th>Nama</th>
        <th>Email</th>
        <th>Pesan</th>
        <th>Dibuat Pada</th>
    </thead>
    <tbody>
        <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
        {% for i in message %} {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
        <tr class="warning"> {% else %}
            <tr class="success">
                {% endif %}
                <td> {{i.name}} </td>
                <td> {{i.email}} </td>
                <td> {{i.message}} </td>
                <td> {{i.created_date.time}} </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% else %}
<div class="container text-center">
    <h1>Page Not Found</h1>
    <a href="{% url 'index' %}" class="btn btn-primary">Back to home page</a>
</div>
{% endif %} {% endblock %} {% block footer %}
<p>&copy; {{name}}</p>
{% endblock %}